@import "tailwindcss";
/* .active{
    background-color: darkorange;
    border: solid black;
    transition: ease 0.5s;
} */

.inactive{
    background-color: black;
    color: white;
    border: solid black ;
    transition: ease 0.5s;
    transform: scale(1.5);
}
